@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&family=Righteous&display=swap');

.Popular {
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: 'Ramabhadra', sans-serif;
    font-family: 'Righteous', cursive;
    -webkit-text-stroke: .4px black;
}
@media (max-width: 870px) {
    .Popular {
        font-size: 4rem;
    }
}
@media (max-width: 425px) {
    .Popular {
        font-size: 3rem;
    }
}
.name-img-carusel {
    font-family: 'Ramabhadra', sans-serif;
font-family: 'Righteous', cursive;

}

.foto-dos {
    min-height: 100vh;
    background-image: url(../images/img-home.jpg) !important;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #0000002f !important;
    background-blend-mode: darken !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-carousel:hover {
    opacity: 1;
    background-color: rgba(0, 0, 255, 0.644);
    transition: 1s;
}

.img-carousel {
    background-color: #0000006c !important;
    background-blend-mode: darken !important;
    width: 100%;
    height: 18rem;
    border-radius: 1rem;
    opacity: 0.7;
    
}


.contenedor-corousel{
    transition: width 2s;
    width: 80rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
@media (max-width: 850px) {
    .contenedor-corousel{
        width: 40rem;
    }
}
@media (max-width: 620px) {
    .contenedor-corousel{
        width: 30rem;
    }
}
@media (max-width: 460px) {
    .contenedor-corousel{
        width: 20rem;
    }
}
@media (max-width: 460px) {
    .img-carousel{
        width: 100%;
        height: 10rem;
    }
}




.texto-carousel {
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.514);
    text-align: center;
    color: white;
}

.contenedor-corousel [type="next"],
.contenedor-corousel [type="prev"] {
    z-index: 1;
}

